* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 8px;
  padding-top: 32px;
  padding-left: 8px;
  text-align: center;
}

/* SEARCH */
.search-group {
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-family: "Bai Jamjuree", sans-serif;
}

.search-group input {
  max-width: 220px;
  background-color: #c1c8cd;
  border: none;
  font-size: 18px;
  color: inherit;

  flex-grow: 1;
  border-radius: 100px;
  padding: 16px;
}

/* USER LIST */
.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 4%;
  gap: 16px;
  align-items: center;
}

.user-item {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #dee1e4;
  padding: 8px;
  flex-grow: 1;
  border-radius: 100px;

  align-items: center;
  transition: 0.3s;
}

.user-item:hover {
  border: 2px solid #112d40;
}

.user-item:active {
  background-color: #112d40;
  color: #fafafa;
}

.user-item span {
  margin-left: 2%;
}

/* USER */
.user {
  margin-left: 4%;
  margin-bottom: 6%;
}

.user-header {
  padding-top: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Bai Jamjuree", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.user-header span {
  padding: 8px;
}

.user-info {
  font-family: "Inter", sans-serif;
  font-weight: 300;

  margin-top: 5%;
  margin-bottom: 2%;
}

.user-info td {
  padding: 10px 20px;
}

.user-info-value {
  background-color: #dee1e4;
  width: 75%;
}

/* BUTTONS FOR VIEWING AND DOWNLOADING CONVERSATIONS */
.btn-coanversations button {
  background-color: #98a4ac;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;

  padding: 8px 24px;
  margin-top: 8px;
  display: flex;
  align-content: right;
  justify-items: right;
}

.btn-coanversations button:hover {
  background-color: #112d40;
  color: #ffffff;
}

/* DETETE USER BUTTON */
.del-user {
  font-family: "Inter", sans-serif;
  background-color: #112d40;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;

  margin-top: 5%;
  padding: 8px 16px;
  border-radius: 10px;
}

.del-user:hover {
  background-color: #dee1e4;
  color: #112d40;
}
