/*  112D40 (blå)
FAFAFA (hvit)
98A4AC (grå)
DEE1E4 (grå)
    */
.homePage {
  display: flex;
  flex-direction: column;
}
.nav-center {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  height: 170px;
  background-color: #112d40;
  z-index: 1;
}
.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.push {
  text-decoration: none;
  color: #fafafa;
  margin-top: 50px;
  margin-right: 50px;
}
.nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: #fafafa;
  width: 75px;
  height: 75px;
  margin-right: 50px;
  margin-top: 50px;
}

.nav-header img {
  width: 150px;
  height: 150px;
  margin-left: 50px;
}

/* 190px */
.links-container {
  display: none;
  width: 100%;
  margin-top: 10px;
  background-color: #112d40;
}
.show-container {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.links-container a {
  color: #fafafa;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
}
.links-container a:hover {
  color: #ffdc00;
  padding-left: 1.5rem;
}
.nav-toggle :hover {
  color: #ffdc00;
}
/* make Nave responsive at width 450 px */
@media only screen and (max-width: 450px) {
  .nav-toggle {
    display: flex;
  }
  .push {
    display: none;
  }
}

/* Form*/
#LogReg {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  margin-left: 50vw;
  width: 22vw;
  height: 100%;
}
#btn-tabs {
  display: flex;
  flex-direction: row;
}

.content {
  display: none;
}
.active-content {
  display: flex;
  flex-direction: column;
}
.active-tabs {
  border-radius: 0 10px 0 0;
}

#reg-content {
  height: 850px;
  background-color: #112d40;
  color: #fafafa;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 48px;
  width: 100%;
}
#log-content {
  height: 614px;
  background-color: #98a4ac;
  color: #fafafa;
  border-radius: 0px 0px 20px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 48px;
  width: 100%;
}

#btn-reg {
  background-color: #112d40;
  width: 220px;
  height: 75px;
  border: none;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  line-height: 50px;
  color: #fafafa;
  border-radius: 0 10px 0 0;
}
#btn-log {
  width: 220px;
  height: 75px;
  border-radius: 10px 0 0 0;
  border: none;
  background-color: #98a4ac;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  line-height: 50px;
  color: #112d40;
}

#form-reg {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#form-log {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: flex-start;
}
.form-check {
  margin-top: 75px;
}
.form-row input {
  width: 15vw;
  height: 4vh;
}
.form-row button {
  width: 12vw;
  height: 59px;
  border-radius: 25px;
  border: none;
  margin-left: 12%;
  color: #112d40;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 29px;
}
.btn-form-log {
  margin-bottom: 50px;
}
.btn-form-reg {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1039px) {
  #LogReg {
    margin-top: 200px;
    margin-left: 30%;
    width: 300px;
  }
  #reg-content {
    font-size: 18px;
  }
  #log-content {
    font-size: 18px;
  }
  #btn-reg {
    width: 150px;
    height: 75px;
    font-size: 25px;
  }
  #btn-log {
    width: 150px;
    height: 75px;
    font-size: 25px;
  }

  #form-reg {
    margin-left: 50px;
  }

  #form-log {
    margin-left: 50px;
  }

  .form-row {
    margin-top: 25px;
  }
  .form-check {
    margin-top: 75px;
  }
  .form-row input {
    width: 200px;
    height: 40px;
  }
  .form-row button {
    width: 100px;
    height: 59px;
    margin-left: 20%;
    font-size: 18px;
  }
  .btn-form-log {
    margin-bottom: 50px;
  }
  .btn-form-reg {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 450px) {
  #LogReg {
    margin-left: 18%;
  }
}
@media only screen and (max-width: 390px) {
  #LogReg {
    margin-left: 12%;
  }
}

/* images*/

.imgs {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  width: 100%;
  right: 10vw;
}
img {
  width: 30vw;
}

.img_1 {
  margin-left: 30vw;
}

.img_2 {
  margin-left: 20vw;
  margin-top: 75px;
}
.img_3 {
  margin-left: 50vw;
  margin-top: -150px;
}
.img_4 {
  margin-left: 60vw;
}
.img_5 {
  margin-left: 30vw;
  margin-top: -400px;
}
@media only screen and (max-width: 1039px) {
  .imgs {
    display: none;
  }
}

/*
#forms {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}
.log-reg {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 156px;
}
.log-reg-content {
  border-radius: 20px;
  width: 440px;
  height: 714px;
}

#lines_1 {
  margin-top: 350px;
  margin-left: 500px;
}

.log-reg-change {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 100px;
  margin-left: 50%;
}

#log_in {
  background-color: #98a4ac;
  padding: 20px 40px;
  color: #fafafa;
  height: 650px;
  border-radius: 0px 0px 20px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}
#reg {
  background-color: #112d40;
  padding: 20px 40px;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  height: 800px;
  border-radius: 0px 0px 20px 20px;
}
#reg .form-row input {
  width: 350px;
  height: 40px;
  background: #fafafa;
  border: none;
  color: #112d40;
  font-size: 22px;
}
#log_in label,
#reg label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.form-row {
  padding: 50px 0 0 0px;
}
.form-row input[type="text"],
input[type="password"] {
  width: 350px;
  height: 40px;
  background: rgba(17, 45, 64, 0.24);
  border: none;
  border-bottom: #112d40 1px solid;
  color: #112d40;
  font-size: 22px;
}
.form-row .chang-color {
  color: #112d40;
}

.form-row input:focus,
.form-row input:valid {
  outline: 0;
}

.btn-container {
  display: flex;
  flex-direction: row;
}
.tab-btn {
  border: none;
  width: 220px;
  border-radius: 20px 0 0 0;
  padding: 15px;
  color: #fff;
  background-color: #112d40;
  font-family: Inter;
  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
}
.reg {
  border-radius: 0 20px 0 0;
}

.tab-btn.active {
  background-color: #98a4ac;
}



.content.active {
  display: flex;
  flex-direction: column;
}
.btn,
.btn-reg {
  border: none;
  width: 170px;
  height: 59px;
  border-radius: 25px;
  background-color: #dee1e4;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.btn:hover {
  background-color: #112d40;
  color: #fafafa;
}
.btn-reg:hover {
  background-color: #fafafa;
  color: #112d40;
}

.btn:hover a {
  color: #fafafa;
}
*/

footer {
  background-color: #112d40;
  width: 100%;
  height: 200px;
  color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  margin-top: 140vh;
}

@media only screen and (max-width: 1039px) {
  footer {
    display: none;
  }
}
