/* consider having one style for all h1.
For now it's specified so it doesn't affect styling of other pages. */
.admin-convos h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 2em;
  font-weight: 500;
  padding-left: 0.5em;
}

/* ----- SEARCH ----- */
.search-group {
  margin-bottom: 0.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Bai Jamjuree", sans-serif;
}

.search-group input,
.search-group select {
  max-width: 220px;
  background-color: #c1c8cd;
  border: none;
  font-size: 18px;
  color: inherit;
}

.search-group input {
  padding: 0.5em;
  border-radius: 100px;
  flex-grow: 1;
}
.search-group button {
  padding: 0.1em 1em;
  text-decoration: none;
  background-color: #dee1e4;
}

.search-group select {
  background-color: #112d40;
  color: #fafafa;
  padding: 0.5em 1em;
  margin-left: 12px;
  border-radius: 10px;
}

/* ----- LIST OF CONVERSATIONS ----- */
.convo-date {
  padding: 0.5em 1em;
  border-radius: 30px;
  margin-left: 0.3rem;

  font-family: "Bai Jamjuree", sans-serif;
  font-size: 0.6em;
  font-weight: 500;
  background-color: #112d40;
  color: #ffffff;
}

.participant {
  font-family: "Inter", sans-serif;
  align-items: center;
  font-weight: 600;
}

.convo button {
  text-decoration: none;
  border-radius: 0.8rem;

  font-weight: 500;
  font-size: 0.8rem;
}

.convo button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #112d40;
}

/* ----- BUTTONS FOR DOWNLOADING AND DELETING ----- */
.master-buttons button {
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1;

  padding: 0.5em 1em;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 0.3em;
}

.master-buttons button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #112d40;
}

.btn-download-all {
  background-color: #dee1e4;
  border: 1px solid #112d40;
}

.btn-delete-all {
  background-color: #112d40;
  color: #fafafa;
}
