.admin-convos {
  margin-top: 170px;
}

/* consider having one style for all h1.
For now it's specified so it doesn't affect styling of other pages. */
.admin-convos h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 2em;
  font-weight: 500;
  padding-left: 0.5em;
}

/* SEARCH */
.search-group {
  margin-bottom: 0.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Bai Jamjuree", sans-serif;
}

.search-group input,
.search-group select {
  max-width: 220px;
  background-color: #c1c8cd;
  border: none;
  font-size: 18px;
  color: inherit;
}

.search-group input {
  padding: 0.5em;
  border-radius: 100px;
  flex-grow: 1;
}
.search-group button {
  padding: 0.1em 1em;
  text-decoration: none;
  background-color: #dee1e4;
}

.search-group select {
  background-color: #112d40;
  color: #fafafa;
  padding: 0.5em 1em;
  margin-left: 12px;
  border-radius: 10px;
}

/* LIST OF CONVERSATIONS */
.card {
  display: grid;
  gap: 3em;
  padding: 0.2em;
  margin: 0.5em;
  align-items: center;
  border-radius: 30px;

  background-color: #dee1e4;
}

.convo-date {
  padding: 0.5em 1em;
  border-radius: 30px;

  font-family: "Bai Jamjuree", sans-serif;
  font-size: 0.5em;
  font-weight: 500;
  background-color: #112d40;
  color: #ffffff;
}

.participants {
  margin-block-end: 24px;
}

.card-body button {
  text-decoration: none;
  margin-left: 10px;
  border-radius: 30px;
  padding: 1em 2em;
  transition: 0.3s;

  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-size: 0.6em;
}

.card-body button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #112d40;
  transition: 0.3s;
}

.participant {
  display: flex;
  align-items: center;
  padding: 8px 4px;

  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.rounded-circle {
  width: 3em;
}

.participant p {
  margin-left: 10px;
}

.btn-download {
  background-color: #98a4ac;
  color: #000000;
}

.btn-delete {
  background-color: #112d40;
  color: #fafafa;
}

/* BUTTONS FOR DOWNLOADING AND DELETING */
.master-buttons button {
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;

  position: absolute;
  padding: 12px 20px;
  margin-top: 16px;
  border-radius: 10px;
  transition: 0.3s;
}

.master-buttons button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
  border: 1px solid #112d40;
}

.btn-download-all {
  background-color: #dee1e4;
  border: 1px solid #112d40;
  right: 15%;
}

.btn-delete-all {
  background-color: #112d40;
  color: #fafafa;
  right: 5%;
}
