/*  112D40 (blå)
FAFAFA (hvit)
98A4AC (grå)
DEE1E4 (grå)
    */

.model-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(17, 45, 64, 0.9);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.scroll-div {
  max-width: 800px;
  border: solid 1px #fafafa;
  box-shadow: 0 0 15px rgba(17, 45, 64, 0.3);
}
.scroll-div-object {
  background-color: #fafafa;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 35px;
  color: #112d40;
}

.heading {
  display: flex;
  background-color: #c3cace;
  height: 115px;
  align-items: center;
  justify-content: center;
  color: #112d40;
  font-size: larger;
  width: 100%;
}

.btns {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #112d40;
  background-color: #c3cace;
}
.btns .btn {
  margin-top: 25px;
  width: 163px;
  border-radius: 10px;
}
