body,
html {
  /*margin: 0px; */
  margin: auto 0;
  background-color: #fafafa;
  font-family: "Bai Jamjuree", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  height: 160px;
  background-color: #112d40;
  z-index: 999;
}
nav img {
  width: 160px;
  height: 160px;
  margin-left: 15px;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}
.main-nav a:hover {
  color: #ffdc00;
}

a.active {
  color: #ffdc00 !important;
  font-weight: 600;
  text-decoration: underline;
}
a.active:hover {
  color: #dee1e4;
}
#first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
#first h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;
  color: #112d40;
}
#first hr {
  width: 1000px;
  margin-top: 50px;
  background-color: #112d40;
}
#first input {
  margin-top: 50px;
  width: 50px;
  height: 60px;
}
#first input {
  width: 25%;
}
#second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
#second img {
  width: 75px;
  height: 75px;
}
#second .info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  color: #112d40;
}
#second h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 54px;
}
#second .pluss {
  width: 30px;
  height: 30px;
}
#second .mail {
  width: 50px;
  height: 50px;
}
.intersts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.intersts .btn {
  background-color: #112d40 !important;
  color: #fafafa;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  padding: 0 20px 0 20px;
}
.showMore {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 50px;
}
.showMore button {
  background-color: #fafafa;
  border: none;
  color: #112d40;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 54px;
}
#second .showMore img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.third {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 500px;
  margin-top: 50px;
}
.third button {
  margin-left: 25%;
  margin-bottom: 100px;
  width: 150px;
  height: 50px;
  background: #112d40;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #fafafa;
}
.third button:hover {
  background-color: #fafafa;
  color: #112d40;
}
/* ------- Messages page -------*/

#msg-body {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  height: 700px;
  margin-top: 160px;
}
#left-side {
  padding: 50px;
  border-right: #dee1e4 1px solid;
}
#left-side input {
  width: 300px;
  font-size: 0.7rem;
}
#middel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
#middel .info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#middel .icon-status {
  display: flex;
  flex-direction: row;
}
#middel a {
  margin-top: 10px;
}
#middel .online {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightgreen;
  position: relative;
  top: 30px;
  right: 19px;
}
.message-input {
  border: none;
  background-color: #dee1e4;
  border-radius: 35px;

  height: 75px;
  border: none;
}
#middel hr {
  width: 100%;
  background-color: #dee1e4;
}
#right-side {
  border-left: #dee1e4 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#right-side .part-1 {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}
#right-side .part-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  width: 50%;
}
.part-2 img {
  width: 35px;
  height: 35px;
}
.part-2 .search-icon {
  width: 35px;
  height: 35px;
}
.part-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
}
/* #left-side .info {
    margin-top: 20px;
} */
.info a {
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  color: #112d40;
  margin-left: 10px;
}
.info a:hover {
  font-weight: 600;
  color: coral;
}

.info img {
  width: 50px;
  height: 50px;
}

/* ------- PROFILE PAGE -------*/

/* Profile photo, user info and edit button*/
.bdy {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  color: #112d40;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.bdy .part-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.bdy .part-1 img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 400px;
  left: 20px;
}
.bdy .part-1 h1 {
  position: absolute;
  left: 150px;
}
.bdy .part-1 button {
  position: absolute;
  right: 150px;
  top: 480px;
  width: 109px;
  height: 36px;
  background-color: #fafafa;
  border: 1px solid #000000;
  border-radius: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #000000;
}

.bdy .cover {
  height: 300px;
  width: 100%;
}
.bdy .info {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 100px;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}
.bdy .info textarea {
  max-width: 300px;
  height: 100px;
  margin-bottom: 50px;
}
.btns-odd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  margin-bottom: 50px;
}
.intress-btn {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  background: rgba(17, 45, 64, 0.42);
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.intress-btn:hover,
.intress-btn.active {
  background-color: #112d40;
}

.info .bio {
  margin-bottom: 50px;
}
.bg-gary {
  background-color: #777 !important;
}
