/* We use z-index in order to have access on form *
Or We have to risize the width*/
.elements {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  z-index: -1;
}
img {
  width: 600px;
}

.img_1 {
  margin-left: 350px;
}

.img_2 {
  margin-left: 200px;
  margin-top: 75px;
}
.img_3 {
  margin-left: 775px;
  margin-top: -150px;
}
.img_4 {
  margin-left: 850px;
}
.img_5 {
  margin-left: 200px;
  margin-top: -400px;
}
