body,
html {
  /*margin: 0px; */
  margin: auto 0;
  background-color: #fafafa;
  color: #fff;

  font-family: "Inter", sans-serif;
}

header {
  height: 160px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  height: 160px;
  background-color: #112d40;
}
nav img {
  width: 160px;
  height: 160px;
  margin-left: 75px;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}
.main-nav a:hover {
  color: chocolate;
}

a.active {
  color: coral;
  font-weight: 600;
}
a.active:hover {
  color: #dee1e4;
}
#first {
  border: red 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#first h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;
  color: #112d40;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #112d40;
  margin-top: auto;
}
footer p {
  margin-top: 25px;
}
